.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #e3e5ea;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.chatInput{
  height: 30px;
  width: 400px;
  border-radius: 8px;
}
form{
  position: relative;
}
.chatbutton{
  height: 30px;
  width: 80px;
  border-radius: 8px;
  position: absolute;
  right: 2px;
  top: 3px;
}

.table, tr, td ,th{
  border: 1px solid black;
  text-align: center;
}